<div class="wrapper">

  <div class="header">
    <div class="title">
      応募者エントリーページ
    </div>
  </div>
  <div class="body">
    <div class="leftside">
      
    </div>
    <div class="center">
      <div class="user-confirmation">
      <%= form_for(@user, url: {controller: 'informations', action: 'create' }) do |f| %>
        <h1><b>以上の内容でお間違いないですか？</b></h1>

        



      </div>
    </div>
  </div>
</div>