
  <div class="wrapper">
    <div class="header">
    <%= render "shared/header" %>
    </div>
    <div class="body">
      <div class="leftside">
      
      </div>

      <div class="center">
      <% if owner_signed_in? %>
      <h1>管理人用ページ、鋭意製作中！</h1>
      <% else %>
      <h1><b>トップページ</b></h1>
      
      <p>当店の募集要項にご興味をお持ちいただきありがとうございます。</p>
      <p>下記の「エントリー」ボタンより、ご記入をお願い致します。</p>

      <div class="main-button">
      <a href="#" class="link">エントリー</a>
        </div>
      <% end %>
      </div>

      <div class="rightside">
       <%= render "shared/rightside" %>
      </div>
    </div>
  </div>