<div class="wrapper">

  <div class="header">
    <div class="title">
      応募者エントリーページ
    </div>
  </div>

  <div class="body">
    <div class="leftside">
    </div>
      <div class="center">
        <h1><b>応募が完了しました</b></h1>
        <div class='account-page' id='account-page'>
          <%=link_to "トップへ戻る", root_path, class:'btn'%>

        </div>
      </div>
    </div>
  </div>
</div>